.fundo-produto {
	background-color: #fff;
	height: auto;
	padding: 20px;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	border: 3px solid #fec9c3;
	box-shadow: 0 0 20px rgba(93, 93, 93, 0.2);
	align-items: center;
}

.produto-infoimg {
	background-color: #fff;
	padding: 10px;
	border-radius: 15px;
	display: flex;
	box-shadow: 0 0 20px rgba(93, 93, 93, 0.2);
	margin-top: 10px;
	border: 1px solid #fec9c3;
}

.col-1 {
	width: 100%;
}

.produto-infoimg img {
	height: 50px;
	width: 50px;
	border-radius: 7px;
}

.produto-principal {
	background-color: #fff;
	padding: 15px;
	border-radius: 30px;
	box-shadow: 0 0 20px rgba(93, 93, 93, 0.2);
	margin-top: 15px;
	border: 1px solid #fec9c3;
}

.produto-principal img {
	height: 300px;
	width: 300px;
	border-radius: 30px;
}

.produto-nome {
	font-size: 28px;
	text-align: center;
}

.infos {
	font-size: 16px;
	text-align: center;
}

.valores-produto {
	margin-top: 15px;
	text-align: center;
}

.informacoes {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.informacoes p,
.informacoes h4,
.informacoes h3,
.informacoes h2 {
	margin: 5px auto;
	text-align: center;
}

.valor-anterior {
	text-decoration: line-through;
}

#quantidade {
	width: 50px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	margin: 20px auto;
	border: 1px solid #f08f84;
}

.produto-quantidade {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.produto-quantidade p {
	margin-bottom: 10px;
}

.botoes {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.botoes a {
	width: 100%;
	text-align: center;
}

.produto-botao {
	background-color: #fec9c3;
	margin-top: 10px;
	border-radius: 20px;
	text-align: center;
	width: 100%;
}

.comprar,
.favoritar,
.adicionar-carrinho {
	margin: 10px 0;
}


/* RESPONSIVIDADE */
@media (max-width: 768px) {
	.col-1 {
		display: none;
	}
}
