.fundo-produto {
	background-color: #fff; /* DEFINE A COR DE FUNDO */
	height: 80%; /* DEFINE A ALTURA DO MEU BACKGROUND */
	width: 95%; /* DEFINE A LARGURA DO MEU BACKGROUND */
	padding: 29px; /* DEFINE A MARGEM INTERIOR DO MEU BACKGROUND */
	border-radius: 68px; /* DEFINE A CURVATURA DA BORDA DO MEU BACKGROUND */
	display: flex;
	align-items: stretch;
	border: 3px solid #fec9c3;
	box-shadow: 0 0 20px rgba(93, 93, 93, 0.2);
}

.produto-infoimg {
	background-color: #fff; /* DEFINE A COR DE FUNDO */
	width: 62%; /* DEFINE A LARGURA DO MEU BACKGROUND */
	padding: 15px; /* DEFINE A MARGEM INTERIOR DO MEU BACKGROUND */
	border-radius: 17px;
	display: flex;
	box-shadow: 0 0 20px rgba(93, 93, 93, 0.2);
	margin-top: 10px;
	border: 1px solid #fec9c3;
}

.col-1 {
	margin-right: 10px;
}

.produto-infoimg img {
	height: 60px;
	width: 60px;
	border-radius: 7px;
}

.produto-principal {
	background-color: #fff; /* DEFINE A COR DE FUNDO */
	height: 80%; /* DEFINE A ALTURA DO MEU BACKGROUND */
	padding: 15px; /* DEFINE A MARGEM INTERIOR DO MEU BACKGROUND */
	border-radius: 68px; /* DEFINE A CURVATURA DA BORDA DO MEU BACKGROUND */
	flex-wrap: wrap;
	align-items: center;
	box-shadow: 0 0 20px rgba(93, 93, 93, 0.2);
	margin-right: 10px;
	border: 1px solid #fec9c3;
}

.produto-principal img {
	height: 500px;
	width: 500px;
	border-radius: 50px;
}

.produto-nome {
	font-size: 35px;
}

.infos {
	font-size: 18px;
}

.valores-produto {
	margin-top: 20px;
}

.informacoes {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-top: 36px;
}

.informacoes p {
	margin-left: 10px;
}

.informacoes h4 {
	font-size: 20px;
	margin-left: 10px;
}

.valor-anterior {
	text-decoration: line-through;
	margin-left: 10px;
}

.informacoes h3 {
	font-size: 40px;
	color: #f08f84;
	margin-left: 10px;
}

.informacoes h2 {
	margin-left: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

#quantidade {
	width: 30px;
	height: 30px;
	border-radius: 10px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	border: 1px solid #f08f84;
}

.produto-quantidade {
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: -40px;
}

.produto-quantidade p {
	margin-right: 10px;
}

.botoes {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.botoes a {
	display: flex;
	justify-content: center;
}

.produto-botao {
	background-color: #fec9c3;
	margin-top: 10px;
	border-radius: 33px;
	text-align: center;
	width: 300px;
}

.comprar {
	margin-top: 10px;
	margin-bottom: 10px;
}

.favoritar {
	margin-top: 10px;
	margin-bottom: 10px;
}

.adicionar-carrinho {
	margin-top: 10px;
	margin-bottom: 10px;
}